.search-input {
  display: none;
}

.magnifying-glass {
  display: none;
}

/* * to tablet */
@media (min-width: 550px) { 
  .search-input {
    display: block;
    /* width: calc(100% - 145px); */
    width: calc(100% - 65px);
    height: 35px;
    font-size: 14px;
    padding: 0px 20px 0px 40px;
    border: 1px solid #ddd;
    margin: 12px 0 12px 5px;
    border-radius: 18px;
    box-shadow: 0 0 4px 0 black;
  }

  .magnifying-glass {
    display: block;
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 34px;
    height: 35px;
    cursor: pointer;
    margin: 12px 0 12px 5px;
  }
}

/* * to desktop */
@media (min-width: 768px) { 

}