.search-ul {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  /* margin-top: 55px; */
  margin-top: 40px;
  z-index: 1;
}

.search-ul li div {
  height: 33px;
  margin: 0 !important; /* Prevent double borders */
  padding: 12px 12px 0px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  text-shadow: 1px 1px 1px rgb(0 0 0 / 63%);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
}

.search-ul li div span {
  align-items: self-end;
  display: flex;
}

.search-ul li div span:not(:first-child) {
  font-weight: 300;
  /* font-size: 85%; */
  font-size: 14px;
  margin-left: 8px;
}

.search-ul li div:hover:not(.header) {
  background-color: rgba(236,236,236,0.33); /* Add a hover effect to all links, except for headers */
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: .9;
  height: 100vh;
  transform: scale(1.1);
  transform-origin: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #cef;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* * to tablet */
@media (min-width: 550px) { 

}

/* * to desktop */
@media (min-width: 768px) { 
  .search-ul {
    margin-top: 50px;
    width: 50%;
  }

  .search-ul li div { 
    font-size: 22px; /* Increase the font-size */
    flex-direction: row;
  }

  .search-ul li div span {
    justify-content: center;
  }

  .search-ul li div span:last-child {
    display: inherit;
  }

  .loading-container {
    transform: scale(1);
  }
}

/* to desktop */
@media (min-width: 1025px) {  

}