.m-magnifying-glass {
  display: block;
  position: fixed;
  top: 0;
  width: 35px;
  height: 35px;
  /* color: var(--font-color-white); */
  color: black;
  text-shadow: 0 0 4px black;
  font-size: 25px;
  right: 5%;
  top: 70%;
}

.m-search-header {
  background: rgb(0 0 0 / 49%);
  height: 45px;
}

.m-search-input {
  background: transparent;
  color: white;
  border: none;
  outline-width: 0;
}

/* * to tablet */
@media (min-width: 550px) { 
  .m-magnifying-glass, 
  .m-search-header {
    display: none;
  }
  
}

/* * to desktop */
@media (min-width: 768px) { 

}