.m-magnifying-glass {
  display: block;
  position: fixed;
  top: 0;
  width: 35px;
  height: 35px;
  color: var(--font-color-white);
  text-shadow: 0 0 4px black;
  font-size: 25px;
  right: 5%;
  top: 70%;
  z-index: 1;
}

.m-search-header {
  background: #444141d6;
  height: 45px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: scale(0);
  transform-origin: top left;
  transition: 100ms all;
  z-index: 1;
}

.m-search-header.toggle {
  transform: scale(1);
}

.m-search-input {
  background: transparent;
  color: white;
  border: none;
  outline-width: 0;
  height: 100%;
  text-decoration: none;
}

.m-search-icons {
  font-size: 25px;
  color: var(--font-color-white);
  text-shadow: 0 0 4px black;
}

/* * to tablet */
@media (min-width: 550px) { 
  .m-magnifying-glass, 
  .m-search-header {
    display: none;
  }
  
}

/* * to desktop */
@media (min-width: 768px) { 

}